## Load Libraries and Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
population_data_csv = '../data/raw/New_York_City_Population_by_Borough__1950_-_2040_20241014.csv'

In [3]:
df = pd.read_csv(population_data_csv)
df

,Age Group,Borough,1950,1950 - Boro share of NYC total,1960,1960 - Boro share of NYC total,1970,1970 - Boro share of NYC total,1980,1980 - Boro share of NYC total,...,2000,2000 - Boro share of NYC total,2010,2010 - Boro share of NYC total,2020,2020 - Boro share of NYC total,2030,2030 - Boro share of NYC total,2040,2040 - Boro share of NYC total
0,Total Population,NYC Total,7891957,100.00,7781984,100.00,7894862,100.00,7071639,100.00,...,8008278,100.00,8242624,100.00,8550971,100.00,8821027,100.00,9025145,100.00
1,Total Population,Bronx,1451277,18.39,1424815,18.31,1471701,18.64,1168972,16.53,...,1332650,16.64,1385108,16.80,1446788,16.92,1518998,17.22,1579245,17.50
2,Total Population,Brooklyn,2738175,34.70,2627319,33.76,2602012,32.96,2230936,31.55,...,2465326,30.78,2552911,30.97,2648452,30.97,2754009,31.22,2840525,31.47
3,Total Population,Manhattan,1960101,24.84,1698281,21.82,1539233,19.50,1428285,20.20,...,1537195,19.20,1585873,19.24,1638281,19.16,1676720,19.01,1691617,18.74
4,Total Population,Queens,1550849,19.65,1809578,23.25,1986473,25.16,1891325,26.75,...,2229379,27.84,2250002,27.30,2330295,27.25,2373551,26.91,2412649,26.73
5,Total Population,Staten Island,191555,2.43,221991,2.85,295443,3.74,352121,4.98,...,443728,5.54,468730,5.69,487155,5.70,497749,5.64,501109,5.55

In [4]:
# Drop first column and share of NYC total columns
df.drop(['Age Group'] + [x for x in df.columns if 'share' in x], axis = 1, inplace = True)

In [5]:
df

,Borough,1950,1960,1970,1980,1990,2000,2010,2020,2030,2040
0,NYC Total,7891957,7781984,7894862,7071639,7322564,8008278,8242624,8550971,8821027,9025145
1,Bronx,1451277,1424815,1471701,1168972,1203789,1332650,1385108,1446788,1518998,1579245
2,Brooklyn,2738175,2627319,2602012,2230936,2300664,2465326,2552911,2648452,2754009,2840525
3,Manhattan,1960101,1698281,1539233,1428285,1487536,1537195,1585873,1638281,1676720,1691617
4,Queens,1550849,1809578,1986473,1891325,1951598,2229379,2250002,2330295,2373551,2412649
5,Staten Island,191555,221991,295443,352121,378977,443728,468730,487155,497749,501109

In [6]:
# Write cleaned data to parquet file
df.to_parquet('../data/cleaned/population_data_cleaned.parquet.gz', index = False, compression = 'gzip')